# Python virtual environments
.venv/
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# VSCode settings (optional, if you use VSCode)
.vscode/

# Test output
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# SQLite database files
*.sqlite3

# Other
*.swp
*.swo

.env